# Requirements

alpaca_trade_api>=2.1.0
ccxt
elegantrl

# market data & paper trading API
exchange_calendars
gputil
gym>=0.17 #gym==0.24.1
jqdatasdk
lz4

# plot
matplotlib
# data handling
numpy
pandas

# pandas
pandas_market_calendars

# hooks
pre-commit

# testing requirements
pytest
ray[default]

# Model Building Requirements
scikit-learn

# packaging
setuptools
stable-baselines3[extra]
stockstats
tensorboardX
vectorbt[full]
wheel
wrds
yfinance
